{% load staticfiles %}

<head>
<meta name="keywords" content="个人博客模板古典系列之——江南墨卷" />
<meta name="description" content="个人博客模板古典系列之——江南墨卷" />
<link href="{% static "css/base.css" %}" rel="stylesheet">
<link href="{% static "css/index.css" %}" rel="stylesheet">
<link href="{% static "css/main.css" %}" rel="stylesheet">
<link href="{% static "css/styles.css" %}" rel="stylesheet">
<link href="{% static "images/favicon.ico" %}" rel="shortcut icon">
<style>
    span.highlighted {
        color: red;
    }
</style>
<!--[if lt IE 9]>
<script src="{% static "js/modernizr.js" %}"></script>
<![endif]-->
<title>{% block title %} {% endblock %}</title>
<script type="text/javascript" src="{% static 'js/jquery.js' %}">
</script>
</head>

<body>
  <div id="wrapper">
    {% include 'header.html' %}
	{% block content %} {% endblock %}
	{% include 'footer.html' %}
  </div>
</body>