{% extends "base.html" %}
{% load staticfiles %}
<body>

{% block title %} Nancy - {{ post.title }} {% endblock %}

{% block content %} 

<div class="container">
  <div class="con_content">
    <div class="about_box">
      <h2 class="nh1"><b><span>您现在的位置是：<a href="/">网站首页</a>>><a href="#">{{ post.category }}</a></span></b></h2>
      <div class="dtxw box">
        <li>
          <div class="dttext f_l">
            <ul>
              <h2>{{ post.title }}</h2>
              <p>{{ post.body | safe | linebreaksbr }}</p>
            </ul>
          </div>
        </li>
      </div>
    </div>
  </div>
  <div class="blank"></div>
  <!-- container代码 结束 -->
{% endblock %}

</body>  