{% extends "base.html" %}
{% load staticfiles %}
<body>
  {% block title %} Nancy - 首页 {% endblock %}

  {% block content %}
  
  <div class="jztop"></div>
  
  <div class="container">
    <div class="bloglist f_l" style="font-size: 14px;">
	
	<!-- 文章列表
	  {% if error_msg %}
         <p>{{ error_msg }}</p>
	  {% endif %}
	-->  
	  {% for post in post_list %}
      <h3><a href="{% url 'post_detail-url' post.id %}" target="_blank">{{ post.title }}</a></h3>
      <ul>
        <p style="font-size:16px">{{ post.body | safe | truncatechars:200 }}</p>
        <a title="{{ post.title }}" href="{% url 'post_detail-url' post.id %}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
      </ul>
      <p class="dateview"><span>{{ post.create_time }}</span>
		<span>作者：{{ post.author.username }}</span>
		<span>分类：[<a href="">{{ post.category }}</a>]</span>
		<span>阅读：{{ post.read_amount }}</span>
	  </p>
	  {% empty %}
	  <h3>暂无文章！</h3>
      {% endfor %}
	
	  <!-- 分页
	  {% if count > 15 %}
	    {% include "pagination.html" %}
	  {% endif %}
	  -->
    </div>
	
	{% include "page_sidebar.html" %}
	
  </div>
  
  <div class="jzend"></div>
  {% endblock %}

</body>